<!DOCTYPE>
<html>
<head>
	<meta charset="utf-8"></meta>
	<title>{{ pageTitle }}</title>
</head>
<body>
	{{> header }}
	<p>Here is some projects to be added  by Mr. Sanjoy Ganguly.</p>
	{{> footer }}
</body>
</html>
